# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
apps/**/dist
node_modules
dist-ssr
dist
build
backup
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.cache
.parcel-cache
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
